<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.the2024exam.mapper.FirstapplyMapper">
    <update id="updateById" parameterType="com.example.the2024exam.entity.Firstapply">
        UPDATE firstapply
        SET state = #{state}
        WHERE number = #{number}
    </update>
</mapper>
